docs/n8n-workflow.json
{
  "name": "ADNEXUS Content Uploader",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "ContentQueue"
        },
        "options": {}
      },
      "id": "read-sheet",
      "name": "Read ContentQueue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [440, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-pending",
              "leftValue": "={{ $json.upload_status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "filter-retry",
              "leftValue": "={{ parseInt($json.retry_count) || 0 }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-pending",
      "name": "Filter Pending Rows",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "limit-one",
      "name": "Limit to 1 Row",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [840, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ADNEXUS_API_URL }}/api/v1/content/check-duplicate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title }) }}",
        "options": {}
      },
      "id": "check-duplicate",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_AUTH_CREDENTIAL_ID",
          "name": "ADNEXUS API Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-duplicate",
              "leftValue": "={{ $json.exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-not-duplicate",
      "name": "If Not Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ADNEXUS_API_URL }}/api/v1/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $('Limit to 1 Row').item.json.title, description: $('Limit to 1 Row').item.json.description || null, thumbnail_url: $('Limit to 1 Row').item.json.thumbnail_url || null, file_url: $('Limit to 1 Row').item.json.file_url || null, ads_required: parseInt($('Limit to 1 Row').item.json.ads_required) || 3, status: $('Limit to 1 Row').item.json.status || 'active' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "upload-content",
      "name": "Upload Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_AUTH_CREDENTIAL_ID",
          "name": "ADNEXUS API Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "ContentQueue"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "upload_status": "uploaded",
            "uploaded_at": "={{ $now.toISO() }}",
            "error_message": ""
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "update-success",
      "name": "Mark as Uploaded",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1640, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "ContentQueue"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "upload_status": "={{ (parseInt($('Limit to 1 Row').item.json.retry_count) || 0) >= 2 ? 'failed' : 'pending' }}",
            "retry_count": "={{ (parseInt($('Limit to 1 Row').item.json.retry_count) || 0) + 1 }}",
            "error_message": "={{ $json.error || $json.message || 'Unknown error' }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "update-failure",
      "name": "Mark as Failed/Retry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1640, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "ContentQueue"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "upload_status": "uploaded",
            "uploaded_at": "={{ $now.toISO() }}",
            "error_message": "Already exists in database"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "mark-duplicate",
      "name": "Mark Duplicate as Uploaded",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1440, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "No Pending Content",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1040, 500]
    }
  ],
  "connections": {
    "Daily 9AM Trigger": {
      "main": [
        [
          {
            "node": "Read ContentQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read ContentQueue": {
      "main": [
        [
          {
            "node": "Filter Pending Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Rows": {
      "main": [
        [
          {
            "node": "Limit to 1 Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1 Row": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "If Not Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Duplicate": {
      "main": [
        [
          {
            "node": "Upload Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Duplicate as Uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Content": {
      "main": [
        [
          {
            "node": "Mark as Uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "automation",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
